[Unit]
Description=Create virtual stereo mic
After=pipewire.service pipewire-pulse.service
Requires=pipewire.service pipewire-pulse.service

[Service]
Type=oneshot
ExecStart=pactl load-module module-null-sink sink_name=virtual_mic_sink channels=2 channel_map=front-left,front-right sink_properties=device.description="Virtual_Mic_Sink"
ExecStartPost=pactl load-module module-remap-source master=virtual_mic_sink.monitor source_name=virtual_mic_input channels=2 channel_map=front-left,front-right source_properties=device.description="Virtual_Mic_Input"

[Install]
WantedBy=default.target
