neovide/
neovide
attract/
obs-studio/
obs-assets/
temps/
.env
forecast.json
weather.json
weather*.png
ncmpcpp/error.log
neovim
build
reaper_linux_x86_64
reaper/broadcast/Backups/
backup/
packages.microsoft.gpg
temp/
temp
drivers/*
!drivers/scarlett18i20
drivers/scarlett18i20/fcp/snd-usb-audio-kmod-v6.11.11-f8
drivers/scarlett18i20/fcp/fcp-support
diagnostics.md
gpt_response.md
.repoinfo.md
.gpt_last_request.md
depot_tools
ch-zrh-wg-003.conf
dotfiles/GIMP/2.10/action-history
toys/screensaver/ssaver
bin/*
