neovide/
neovide
attract/
obs-studio/
obs-assets/
temps/
.env
forecast.json
weather.json
weather*.png
ncmpcpp/error.log
neovim
build
reaper_linux_x86_64
reaper/broadcast/Backups/
backup/
packages.microsoft.gpg
temp/
temp
drivers/*
